/* Reset and global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: auto; /* Allow scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
}

/* Slide styles */
.slide {
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Slide 1 styles */
.slide-1 {
    background-color: #f5f5f5;
    text-align: center;
}

.slide-1 h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

/* Down arrow */
.icon {
    position: absolute;
    bottom: 20px;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

/* Slide 2 styles */
.slide-2 {
    background-image: url('brohof.webp');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.overlay {
    background: rgba(0, 0, 0
